body {
  font-family: lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #535151;
  height: 400px;
}

nav li:last-child a {
  transition: all 0.3s ease-in-out;
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b34401;
}

section.hero {
  background: #F8F8F8;
}

nav li a {
  transition: all 0.3s ease-in-out;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.add-to-cart:focus {
  outline: none;
}

.btn-primary {
  background: #FE5F1E;
}
.btn-primary:hover {
  background: #b34401;
  transition: all 0.3s ease-in-out;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}
