@import 'variables';

body {
    font-family: lato , sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    height: 400px;
    
};


nav li:last-child a {
    
    transition: $smooth;
    background: $primary;
    display: block;

    &:hover {
        background: $primary-hover;
    }
}

section.hero {
    background: $secondary;
}

nav li a {
    transition: $smooth ;
}

.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;

    &:hover {
        background: $primary;
        border-color: $pure;
        transition: $smooth;
        color: $pure;
    }

}